/* Variables */
:root {
    /* Color Variables */
    --secondairy-color: yellow;
    --accent-color: goldenrod;
    --primary-color: gold;
    --link-color: var(--accent-color);
    --alternate-link-color: black;
    --link-highlight-color: var(--secondairy-color);

    /* Others */
    --accent-font-weight: 600;
}

/* Global Structure */
body { 
    font-family: sans-serif;
    margin: 0;
}

main, aside, footer {
    padding: 1% 5%;
}

h1, h2 {
    text-align: center;
}

p {
    text-align: justify;
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-highlight-color);
}

aside a, nav a {
    color: var(--alternate-link-color);
    text-decoration: none;
}

section { 
    width: 100%;
}

/*  Navigation */
nav ul {
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
    vertical-align: middle;
    display: inline-block;
    width: 15%;
}

nav a {
    background-color: var(--primary-color);
    border: 1px solid black;
    text-decoration: none;
    border-top: none;
    padding: 1rem 0;
    display: block;
    height: 30px;
}

nav a:hover, nav a.active {
    background-color: var(--secondairy-color);
    color: var(--alternate-link-color)
}

/* Header */
h1 {
    color: var(--accent-color);
    font-size: 5rem;
}

/* Main */
main {
    padding-bottom: 2%;
    min-height: 75%;
}

/* Aside */
aside {
    background-color: var(--primary-color);
    border-top: 1px solid black;
    display: flex;
}

aside ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    font-weight: var(--accent-font-weight);
    flex-direction: row;
    display: flex;
    flex: auto;
}

footer p {
    flex-grow: 2;
}

footer img {
    height: 2rem;
}

/* Mobile */
@media screen and (max-width: 768px) {
    /* Global */
    h2 {
        font-size: 1.5rem;
    }
    
    /* Navigation */
    .left, .right {
        text-align: center;
        display: block;   
        width: 100%;
    }
    
    nav li {
        display: block;
        padding: 2px 0;
        width: 100%;
        margin: 0;
    }
    
    nav a {
        border: 1px solid black;
        border-radius: 0;
        padding: 1rem 0;
        display: block;
    }
    
    /* Header */
    h1 {
        font-size: 3rem;
    }
    
    /* Aside & Footer */
    aside, footer {
        display: block;
    }
}