/* Variables */
:root {
    /* Color Variables */
    --primary-color: gold;
    --secondairy-color: yellow;
}

/* Global Structure */
body { 
    margin: 0;
}

/*  Navigation */
nav ul {
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
    vertical-align: middle;
    display: inline-block;
    width: 15%;
}

nav a {
    border-radius: 0 0 10px 10px;
    border: 1px solid black;
    background-color: var(--primary-color);
    text-decoration: none;
    border-top: none;
    padding: 1rem 0;
    display: block;
    color: black;
    height: 30px;
}

nav a:hover {
    background-color: var(--secondairy-color);
}

nav a.active {
    background-color: var(--secondairy-color);
}

/* Header */

/* Main */

/* Aside */

/* Footer */

/* Mobile */
@media screen and (max-width: 768px) {
    nav li {
        display: block;
        width: 100%;
        padding: 2px 0;
        margin: 0;
    }
    
    nav a {
        display: block;
        padding: 1rem 0;
        border: 1px solid black;
        border-radius: 0;
    }
}