/* I want four spaces! */
/* stylelint-disable indentation */

/* Variables */
:root {
    /* Color Variables */
    --tertairy-color: darkkhaki;
    --secondairy-color: yellow;
    --accent-color: goldenrod;
    --primary-color: gold;
    --link-color: var(--accent-color);
    --alternate-link-color: black;
    --link-highlight-color: var(--secondairy-color);
    --dark-text-color: white;

    /* Others */
    --accent-font-weight: 600;
    --progress-bar-height: 3rem;
}

/* Grid */
.row {
    display: flex;
    gap: 1rem;
}

[class*="col-"] {
    display: inline-block;
    margin: 0;
    margin-bottom: 1rem;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 55.83%; }
.col-8 { width: 64.16%; }
.col-9 { width: 72.5%; }
.col-10 { width: 80.83%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

/* Global Structure */
body {
    font-family: sans-serif;
    margin: 0;
}

main,
aside,
footer {
    padding: 1% 5%;
}

nav,
header,
main {
    max-width: 1500px;
    margin: 0 auto;
}

header {
    padding: 0 5%;
}

h1,
h2 {
    text-align: center;
}

p {
    text-align: justify;
}

a {
    color: var(--link-color);
}

aside a,
nav a {
    color: var(--alternate-link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-highlight-color);
}

section {
    width: 100%;
}

.colored-box {
    height: auto;
    background-color: var(--accent-color);
    border: 1px solid black;
    color: var(--dark-text-color);
    padding: 1rem;
}

.colored-box a {
    color: var(--primary-color);
}

.colored-box a:hover {
    color: var(--secondairy-color);
}

.colored-box h3 {
    margin: 0;
}

.progress {
    height: var(--progress-bar-height);
    border: 1px solid black;
}

.progress div {
    height: var(--progress-bar-height);
    background-color: white;
}

.progress div.maximum {
    background-color: var(--tertairy-color);
}

.progress div.minimum {
    position: relative;
    top: calc(var(--progress-bar-height) * -1);
    background-color: var(--secondairy-color);
}

.progress div.completed {
    position: relative;
    top: calc(var(--progress-bar-height) * -2);
    background-color: var(--primary-color);
}

.primairy-colored {
    color: var(--primary-color);
}

.secondairy-colored {
    color: var(--secondairy-color);
}

.tertairy-colored {
    color: var(--tertairy-color);
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

.overview-table {
    margin: 0 auto;
}

.overview-table td,
.overview-table th {
    padding: 0.5rem;
    padding-left: 1rem;
    text-align: left;
}

.boxed-image {
    width: 100%;
    border: 1px solid black;
    margin-right: 0;
    padding: 0;
}

.vertical-scroll {
    overflow-y: hidden;
    overflow-x: scroll;
}

article {
    margin: 1rem 0;
}

td,
th {
    border: 1px solid black;
}

thead th {
    border-bottom: 2px solid black;
}

tfoot td {
    border-top: 2px solid black;
    font-weight: var(--accent-font-weight);
}

.spreadable-table tr td:first-child {
    width: 100%;
}

/*    Navigation */
nav ul {
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
    vertical-align: middle;
    display: inline-block;
    width: 15%;
}

/* The stylint indicates nav a should be before a:hover, which it is */
/* stylelint-disable-next-line no-descending-specificity */
nav a {
    background-color: var(--primary-color);
    border: 1px solid black;
    text-decoration: none;
    border-top: none;
    padding: 1rem 0;
    display: block;
    height: 30px;
}

nav a:hover,
nav a.active {
    background-color: var(--secondairy-color);
    color: var(--alternate-link-color);
}

/* Header */
h1 {
    color: var(--accent-color);
    font-size: 5rem;
}

/* Main */
main {
    padding-bottom: 2%;
    min-height: 75%;
}

/* Aside */
aside {
    background-color: var(--primary-color);
    border-top: 1px solid black;
    display: flex;
}

aside ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    text-align: center;
    border-bottom: 1px solid black;
}

footer img {
    max-width: 200px;
}

.post-table-title {
    text-align: center;
}

/* Mobile */
@media screen and (max-width: 768px) {
    /* Grid */
    .row {
        display: block;
    }

    [class*="col-"] {
        width: 90%;
        display: block;
    }

    /* Global */
    h2 {
        font-size: 1.5rem;
    }

    /* Navigation */
    .left,
    .right {
        text-align: center;
        display: block;
        width: 100%;
    }

    nav li {
        display: block;
        padding: 2px 0;
        width: 100%;
        margin: 0;
    }

    nav a {
        border: 1px solid black;
        border-radius: 0;
        padding: 1rem 0;
        display: block;
    }

    /* Header */
    h1 {
        font-size: 3rem;
    }

    /* Aside & Footer */
    aside,
    footer {
        display: block;
    }
}
